.layout {
  position: relative;
  width: 100%;
  height: 100vh;
}

.layout-container {
  padding-top: 60px;
  display: flex;
  /* height: calc(100% - 60px); */
  /* background-color: red; */
  /* height: calc(100% - 60px); */
}

.layout-content {
  margin-left: 200px;
  width: calc(100% - 200px);
}
