body {
  margin: 0;
  user-select: none;
}

.mouse_ball {
  --x: -100px;
  --y: -100px;
  position: relative;
  width: inherit;
  height: 100%;
  background-image: url("https://file.wangzevw.com/images/default_top_img.webp"),
    linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    filter: grayscale(0.5);
    cursor: pointer;
  }
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
    z-index: 100;
    transform: translate(var(--x), var(--y));
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  }
}
