body {
  margin: 0;
}
.image_box {
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
  }
  .mark {
    position: absolute;
    inset: 0;
    background-color: cadetblue;
    clip-path: polygon(0 0, 50% 0, 0 100%);
  }
}
